customer_orders_team1.csv
inventory_team1.csv
dbscript.py
*.class



#ignore pycache
__pycache__/




# ingore viretual environement and settings files
#frontend_files/ci_project/ci_project/settings.py
env/
myenv/
