asgiref==3.5.2
Django==3.2
django-admin-honeypot==1.1.0
django-crispy-forms==1.14.0
django-extensions==3.2.0
fontawesomefree==6.1.2
Pillow==9.2.0
psycopg2==2.9.3
PyMySQL==1.0.2
pytz==2022.1
sqlparse==0.4.2
