/* About Css */

.team-pic-dimensions_ {
height: 300px;
width: 253px;
}

.main-team-pic_ {
    max-width: 100%;
}

.icon-color {
    color: black;
}

.icon-color:hover {
    color: orange;
}

.margin-bot-pics {
    margin-bottom:25px;
}

.heading-format {
    text-align: center;
    font-weight: bold;
    margin: 45px 0 45px 0;
    font-family: 'Poppins', sans-serif;
}

.story-content {
    font-size: 1.4rem;
    line-height: 2;
    text-indent: 60px;
    width:65%;
    margin:auto;
    font-family: 'Poppins', sans-serif;
}


.member-title {
    font-family: 'Poppins', sans-serif;
}

.card-pic-dimensions {
    width: auto;
    height: 425px;
}