/* About Css */

.team-pic-dimensions_ {
    height: 285px;
    width: 253px;
    opacity: .8;
}

.team-pic-dimensions_:hover {
    opacity: 1;
}

.main-team-pic_ {
    max-width: 100%;
    opacity: 90%;
}

.icon {
    color: black;
}

.icon:hover {
    color: orange;
}

.margin-bot-pics {
    margin-bottom:25px;
}

.heading-format {
    text-align: center;
    font-weight: bold;
    margin: 45px 0 45px 0;
    font-family: 'Poppins', sans-serif;
}

.story-content {
    font-size: 1.4rem;
    line-height: 2;
    text-indent: 60px;
    width:65%;
    margin:auto;
    font-family: 'Poppins', sans-serif;
}


.member-title {
    font-family: 'Poppins', sans-serif;
}

.card-pic-dimensions {
    width: auto;
    height: 425px;
}

.text-center_ {
    text-align: center;
}

.role-text-size_ {
    font-size: .87em;
}