
/* -----------Base-------------- */
/* navigation menu */
html,body {
  height:100%;
}
body{
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}


#title {
    color: white!important;
}

/* Navigation bar */
nav {
  
  animation: nav-load var(--nav-load-time) ease-in;
}

nav li {
  
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}
nav li:nth-child(1){
  animation-name: nav-left-link-load;
  transform: translateX(-1000%);
}

nav li:nth-child(2){
  animation-name: nav-left-link-load;
  transform: translateX(-1000%);
}
nav li:nth-child(4){
  animation-name: nav-right-link-load;
  transform: translateX(1000%);
}
nav li:nth-child(5){
  animation-name: nav-right-link-load;
  transform: translateX(1000%);
}


.navbar-brand {
    font-size: 2.5rem;
    font-weight: 800;
    color: white!important;
    font-family: 'Cinzel', serif;
    
}
.nav-content {
    font-family: 'Cinzel', serif;
    font-size: 1 rem;
    color: white!important;
    text-decoration: none;
}



nav li:hover{
  background-color: #FFFFFF44;
}
.span-margin {
    width:auto;
}



/* Shopping cart icon */
.cart {
    width: 52px;
    height: 52px;
}
.cart-icon {
    font-size: 0.5rem;
}


.br-pad {
    display: block;
    margin: 50px 0 ;
}

.ctrl-logo_ {
    height: 75px;
    width: 75px;
}

.nav-welcome_ {
    font-size: 15px;
}

/* Chatbot */
.chatbot-icon_ {
    width: 30px;
}

/* Footer */
.github{
    font-size: 2rem;
    color:white;
}

.fa-github:hover {
    
    color:orange;
}

.footer-basic {
    padding:40px 0;
    background-color: black;
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    color: orange;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid black;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    color: orange;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }





/* Fetured Items */
.product-image {
    width: 300px;
    height: 300px;
}


/* Feature items hover shadow */

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #ffff;
    border-radius: 4px;
    padding: 10px;
}

.form-field {
    width: 300px;
    display: inline-block;
    padding: 5px;
}


.nav-link-marg {
    margin:auto 80px auto 80px;
}


@keyframes nav-load {
  0%{
    transform: translateY(-100%)
  }
  100%{
    transform: translateY(0)
  }

}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nav-left-link-load {
  0% {
    transform: translateX(-1000%);
  }

  90% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nav-right-link-load {
  0% {
    transform: translateX(1000%);
  }

  90% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}