/* Contact Us CSS */

* {
    box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
}

h1 {
   text-align: center;  
   color: white;
}

form {
  width: 80%;
  height: auto;  
  max-width: 400px;
  min-width: 325px;
  text-align: center;
  margin: 0 auto;
}

.submit_ {
  width: auto;
  margin-top: 10px;
}

.submit-btn {
    background-color: black;
    border: none;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    color: orange;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(125, 126, 128);
}

input, textarea {
    border:0; outline:0;
    
    
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    resize: none;
  }
  
textarea {
    height: 126px;
}

.background-pict_ {
  height: 1000px;
  position:relative;
  text-align:center;
  padding-top: 5%;
}

.background-pict_:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/static/images/girl-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 
  z-index:-1;
  
}
.background-pict_ span {
  position:relative;
  z-index:1;
}

@media(max-width:400px){
  .background-pict_{
      height: 750px;
  }
}