
.heading {
    padding-top: 15px;
    text-align: center;
    font-size: 4rem;
}

.set-height_ {
    min-height: 900px;
  }

.dashboard-content-orders_ {
    text-align:center; 
    font-weight:bold; 
    position: relative; 
    top:30%;
}

.dashboard-content-info_ {
    text-align: center; 
    padding: 10px;
}

.profile-pic_ {
    width: 100px;
    border-radius: 50%;
}

.card {
    padding: 10px;
}
