
.card {
    text-align:center;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
  
}
.card:hover { 
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
   
}

.main-card_ {
    margin: 15px 0;
}

.price_ {
    font-size: 1rem; 
    font-weight: 500;
}

.home-pic_ {
    height: auto; 
    width: 60%;
}

.background-pict_ {
    height: 1000px;
    position: relative;
    text-align: center;
    padding-top: 17%;
  }
  
.background-pict_:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/images/black-headphones.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index:-1;
    
}

.background-pict_ span {
    position:relative;
    z-index:1;
}

@media screen and (min-width: 870px) {
    .title-font_ {
        font-family: Optima;
        font-size: 7.5em;
        width: 100%;
        height: auto;
        color: white;
    }
}

@media screen and (max-width: 869px) {
    .title-font_ {
        font-family: Optima;
        font-size: 3.5em;
        width: 100%;
        height: auto;
        color: white;
        margin-top: 150px;
    }
}

.sub-title_ {
    text-align: center; 
    font-size: 2.5vw; 
    font-family: Helvetica, sans-serif;
}

@media(max-width:400px){
    .background-pict_{
        height: 750px;
        position: relative;
        text-align: center;
        padding-top: 17%;
    }
}