
* {
    box-sizing: border-box;
}


.set-height_{
    min-height: 900px;
}
.order-text_ {
    text-decoration: none; 
    color: black;
}

.table {
width: 100%;
border-collapse: collapse;
}

.table td,.table th {
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
   
}


.table th {
    background-color: black;
    color:#ffffff;
}

.table body tr:nth-child(even){
    background-color: #f5f5f5;
}
.table tr{
    background-color: #ffffff;
}

/* responsive */
@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px){
    .table thead{
        display:none;
    }
    .table,.table tbody, .table tr, .table td {
        display:block;
    width:100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position:absolute;
        left:0;
        width:50%;
        padding-left: 15px;
        font-size:15px;
        font-weight: bold;
        text-align: left;
    }
}
