.heading {
    padding-top: 15px;
    text-align: center;
    font-size: 4rem;
}

table{
    width:100%;
}
td,th {
    border:1px solid #000;
    padding:8px;
}

.card_ {
    width: 70%; 
    margin: auto;
}

.text_ {
    text-align: right; 
    line-height: 1;
}

.text-right_ {
    text-align: right;
}

.card-contents_ {
    text-align: right; 
    line-height: 1;
}

.bold_ {
    font-weight: bold;
}

.text-right_ {
    text-align: right;
}
.set-height_ {
    min-height: 800px;
}