/* Register CSS */

.blur {
    height: 1000px;
    position:relative;
    text-align:center;
    padding-top:5%;
  }
  
.blur:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(girl-register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index:-1;
    
}
.blur span {
    position:relative;
    z-index:1;
}