asgiref==3.5.0
astroid==2.11.2
autopep8==1.6.0
backports.zoneinfo==0.2.1
bleach==4.1.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.1
colorama==0.4.4
coverage==6.3.2
cycler==0.11.0
dill==0.3.4
distlib==0.3.4
Django==4.0.3
django-cors-headers==3.11.0
django-countries==7.3.2
django-summernote==0.8.20.0
djangorestframework==3.13.1
filelock==3.6.0
flake8==3.9.2
flake8-django==1.1.2
flake9==3.8.3.post2
flake9-isort==4.0.2
fontawesomefree==6.1.1
fonttools==4.31.2
idna==3.3
isort==5.10.1
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
matplotlib==3.5.1
mccabe==0.7.0
mpmath==1.2.1
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
pkg_resources==0.0.0
platformdirs==2.5.1
protobuf==3.19.4
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.13.4
pyparsing==3.0.7
PyQt5==5.15.6
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
stripe==2.70.0
sympy==1.10.1
testfixtures==6.18.5
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.0
webencodings==0.5.1
wrapt==1.14.0
